.card-list-article {
  margin-bottom: 5px;
}

.card-small{
  margin-bottom: 5px;
  .card-block {
    padding: 10px;
    .card-title {
      font-size: rem(13);
    }
  }
  .byline {
    margin: 0px;
    font-size: rem(12);
    line-height: inherit;
  }
}


.byline {
  line-height: 1px;
  margin-bottom: 10px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 0px;
  }
  img {

  }

  a {
    line-height: 1px;
  }

}

.meta {
  display: inline-block;
  line-height: 1px;
  font-size: rem(12);

  a {
    @include hover() {
      text-decoration: none;
    }
  }

  &.category {
    a {
      color: #b3b3b3;
      font-weight: 700;

      @include hover() {
        color: #014c8c;
      }
    }
    span {
      display: inline-block;

    }
  }
}
.source {

  .news__source {
    vertical-align: middle;
    position: relative;
    width: 16px;
    height: 16px;

  }
  span {
    display: inline-block;
  }
}



.list-article {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d4d4d4;
  h4 {
    font-size: rem(18);

    @include media-breakpoint-down(sm) {
      font-size: rem(16);
    }
  }

  p {
    font-size: rem(13);
  }

}